body {
    /* Give body some height - otherwise u cant see the scroll */
    height: 4000px;
    text-align: center;
}

.sticky-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 50px auto 0;
}

.sprite {
    position: relative;
    background: url("./sprite/ryu-sprite-demo.png") no-repeat 0% 0%;
}

/* This pseudoelement makes the square responsive */
.sprite:before {
    content: "";
    display: block;
    padding-top: 100%;
}